/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html, body {
    padding: 0;
    margin: 0;
    font-family: $bodyFont;
}
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}